<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login and Registration</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="signup">
        <h1>Signup</h1>
        <!-- <h4>It's free and only take a minute</h4> -->
        <form method="post">
            <label>First Name</label>
            <input type="text" name="Fname" required>
            <label>Last Name</label>
            <input type="text" name="Lname" required>
            <label>Gender</label>
            <input type="text" name="Gender" required>
            <label>Contact_Number</label>
            <input type="tel" name="Contact_Number" required>
            <label><Address>Address</Address></label>
            <input type="tel" name="Address" required>
            <label>Email</label>
            <input type="email" name="Email" required>
            
        
            <label>Password</label>
            <input type="password" name="Password">
            <input type="submit" name="" value="Submit">
        </form>
       <p>By clicking the Sign Up button,you agree to our<a href="#">Terms and Condition</a>
           <a href="#">Policy Privacy</a></p>

           <p>Already have an account? <a href="/api/User/login">Login Here</a></p>

    </div>
</body>
</html>